  /*estillo de contactanos */
  /*mapa*/
.mapa{
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.mapa iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
  
  /*formulario*/
.form{
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.form form{
    width: 100%;
    height: 100%;
    border: 0;
}